.form {
  width: 600px;
  height:420px;
  background-color:white;
  margin-left: auto;
  margin-right:auto;
  margin-top:150px;
  border-radius:20px;
}
.form-text h1{
  font-size:25px;
  color: white;
  font-weight:200;
}
.form-text {
  background-color: rgb(65, 202, 192);
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 5px 5px 0px 0px;
  font-size:18px;
  color:White;
}
input {
  padding:8px 100px;
  border-radius:5px;
  border-style: solid;
  border-width: 1px;
}
h1 {
  font-size:18px;
}
.btn-to-send {
  display:flex;
  justify-content: space-around;
  margin-top:50px;
}
.btn-to-send button{
  padding:10px 100px;
  border-radius:8px;
  border:none;
  background-color: rgb(65, 202, 192);
  color:white;
  font-size:18px;
  font-weight:600;
}
.input-form_code {
  margin-left:100px;
  margin-top:35px;
}
.input-form_indicator {
margin-left:100px;
margin-top:35px;
}
