.registr-btn button  {
  padding:10px 200px;
  border-radius:8px;
  border:none;
  background-color: rgb(65, 202, 192);
  color:white;
  font-size:18px;
  font-weight:600;
  margin: auto;
}
.forms {
  width: 1000px;
  height:600px;
  background-color:white;
  margin: auto;
  margin-top:20px;
  border-radius:12px;

}
.registr-form-text h1 {
      font-weight:200;
      background-color: rgb(65, 202, 192);
      text-align: center;
      padding-top:10px;
      padding-bottom:10px;
      border-radius: 12px 12px 0px 0px;
      font-size:50px;
      color:White;
}
.registr-input {
  display: grid;
}
.f1 {
  display: flex;
  justify-content: space-around;
  margin-top:10px;
}
.f1 h1 {
  font-size: 18px;
}
input {
  padding:8px 100px;
  border-radius:5px;
  border-style: solid;
  border-width: 1px;
  text-align: left;
}

select {
  padding:8px 145px;
  border-radius:5px;
  border-style: solid;
  border-width: 1px;
  text-align: left;
}
.registr-btn{
  margin-top:30px;
  text-align: center;
}
@media (max-width:1100px) {
  .forms {
    width:700px;
  }
  input {
    padding:8px 50px;
    border-radius:5px;
    border-style: solid;
    border-width: 1px;
    text-align: left;
  }
  select {
    padding:8px 95px;
    border-radius:5px;
    border-style: solid;
    border-width: 1px;
    text-align: left;
  }
}
@media (max-width:900px) {
  .forms {
    width:400px;
    height:100%;
  }
  .f1 {
    display: grid;
    justify-content:center;
    margin-top:5px;
  }
  .registr-btn button  {
    padding:10px 50px;
    border-radius:8px;
    border:none;
    background-color: rgb(65, 202, 192);
    color:white;
    font-size:18px;
    font-weight:600;
    margin: auto;
    margin-bottom:20px;
  }
}
